/* Custom fonts */

@font-face {
  font-family: Pixel;
  src: url('./assets/font/Pixellettersfull-BnJ5.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Pixel;
  src: url('./assets/font/Pixellettersfull-BnJ5.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Pixel;
  src: url('./assets/font/Pixellettersfull-BnJ5.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Playme;
  src: url('./assets/font/PlaymegamesReguler-2OOee.ttf');
  font-weight: 400;
}

/* Default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  
}

body {
  font-weight: 400;
  overflow-x: hidden;
  /* maybe change this to scroll? ^^*/
  position: relative;
  background-image: url('./assets/img/banner-bg11.jpg');
  
  image-resolution: inherit;
  background-size: cover;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  color: #fff ;
  font-family: 'Pixel' !important;  
}
@media (max-width: 768px) {
  body {
    background-size: cover;
    
  }
}
#ecbdc3
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 0px 0px;
  position: fixed;
  width: 100%;
  height: 190px;
  top:  1px 0px;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  max-width: 100%;   
}

@media (max-width: 768px) {
  nav.navbar {
    margin-top: -75px;
  }
}
@media (max-width: 768px)  {
  nav.navbar.scrolled {    
    height: 160px;
    width: 100%;
    top: 0px;
    margin-top: -75px;
       
    
  }
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #1a1919;
  opacity: .83;
}
nav.navbar a.navbar-brand {
    width: 30%;
    margin-top: 30px;    
    display: flex;
    min-width: 30%;  
    
}

@media (max-width: 768px) {
  nav.navbar a.navbar-brand {
    width: 50%;
       
  }  
}
@media (max-width: 768px) {
  .navbar.expanded-navbar {
    height: 500px !important;
  }
}

.navbar.expanded-navbar {
  height: 500px;
  top: 0px;
}
.navbar-collapse.collapse.show {
  margin-top: -30px;
}


nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  display: flex;
  font-size: 40px;
  
  opacity: 0.75;
  margin: 0px 0px 0px 0px;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
    margin-top: 20px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px ;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 190%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 64px;
  padding: 18px 34px;
  font-size: 30px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
  
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
  border-radius: 64px;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;  
    box-shadow: none;
    }

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
  
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
  

}


/* Banner CSS */

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  
  
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;

  background: linear-gradient(90.21deg, rgb(247, 171, 159) -10.91%, rgb(174, 85, 196) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff; 
  font-size: 30px;
  margin-bottom: 16px;
  display: inline-block;
  
}
.banner h1 {
  font-size: 85px;
  font-weight: bolder;
  font-family: Playme;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  white-space: nowrap;
  color:#E6E6DD;  
}
@media (max-width: 768px) {
  .banner h1 {
    font-size: 50px;
  }
  .banner p {
    background: linear-gradient(217deg, rgba(245, 130, 144, 0.9), rgba(255, 0, 0, 0) 90.71%),
    linear-gradient(127deg, rgba(252, 193, 126, 0.9), rgba(0,255,0,0) 90.71%),
    linear-gradient(336deg, rgba(196, 145, 219, 0.9), rgba(0, 0, 255, 0) 90.71%);
    font-size: 25px !important;
    border-radius: 55px;
    color: #ffffff !important;
    padding: 40px;
    margin-top: 100px !important;
    box-shadow: 10px 10px 40px rgb(247, 219, 130);
  }
}
.banner .cursor {

  animation: blink 3s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.banner p {
  color: #E6E6DD;
  font-size: 35px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  margin-top: 150px;
  font-style: italic;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 250px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
  width: 600px;
  height: 600px;
  object-fit: cover;
  z-index: -2;
}

@media (max-width: 767px) {
  .banner .align-items-center {
    flex-direction: column-reverse; /* Reverse the order of flex items for mobile */
  } 
  .banner img {
    position: absolute; /* Absolute positioning for the image */
    top: 2%;
    left: -30%;
    transform: translateX(-50%);
    width: 600px;
    height: auto;
  }
  .banner .intro {
    margin-top: 140px;
  }
  .banner .intro button {
    left: -40%;
    position: relative;
  }
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* Skills */
.skills {
  padding-top: 200px;
  position: relative;
  width: 100%; 
  background: rgb(229, 229, 220, .9);
}

.skill-bx {
  
  border-radius: 64px;
  text-align: center;
  
  margin-top: -60px;
  
  
}

.skills h2 {
  font-size: 75px;
  font-weight: 500;
  font-family: Playme;
  color: #000000;

}
.skills h5 {
  font-size: 25px;
  animation: 
}

.skills p {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: italic;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
  background: white;
  border-color: black;
  border: solid;
  box-shadow: 10px 5px 5px black;
}
@media (max-width: 768px) {
  .skills p {
    font-size: 18px;
    
  }
  .skills h5 {
    font-size: 20px;
    font-weight: bold;
  }
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
   
}
.react-multi-carousel-list.skill-slider   {
  overflow: visible;
}
.skills [aria-hidden="true"] {
  opacity: 0;
  transition: ease-out .45s;
}
.skills [aria-hidden="false"] {
transition: ease-in .45s;
}
.skill-slider .item img {
  width: 80%;
  margin: 0 auto 15px auto;
}

div.react-multi-carousel-list.skill-slider button.react-multiple-carousel__arrow.react-multiple-carousel__arrow {
position: absolute;
margin: -15%;
z-index: 20;
width: 60px;
height: 60px;
visibility: visible !important;
overflow: visible !important;

}
.project {
  padding-top: 70px;

}


/* Projects */
.proj-box {
  
  position: relative;
  background-color: rgba(229, 220, 220, 0.7);
  
  border-radius:64px;
  text-align: center;
  padding: 50px;
  align-items: center;  
  width: 80%;
  margin: 80px;
  
 
}
/* .proj-box {
  background-color: #E6E6DD;
  opacity: .73;
  border-radius: 64px;
  
}
*/
.project h2 {
	font-size: 75px;
	font-weight: 700;
  text-align: center;
  

  
}
.project p {
  color: #000000;
  font-size: 27px;
  font-style: italic;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 75%;
  margin-bottom: 60px;
  text-align: center;
  background: white;
  border-color: black;
  border: solid;
  box-shadow: 10px 5px 5px black;
  

}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
  
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
  
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  
  padding: 17px 0;
  color: #030101;
  width: 100%;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    /* fix the gradient*/
    background: linear-gradient(90.21deg, rgb(247, 171, 159) -10.91%, rgb(174, 85, 196) 111.58%);
    top: 0;
    opacity: .53;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
    
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
    
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-img {
  width: 100%; /* Ensures the image takes 100% of the width of its container */
  height: 320px; /* Ensures the image takes 100% of the height of its container */
  object-fit: cover; /* Maintains the image aspect ratio and covers the container */
  
  
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  flex-grow: 1;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(0.25turn, #e0a8bf, #f1f8eb, #f0979d);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

/* Contact */
.contact {
  background: transparent;
  padding: 0px 0 0px 0;  
  z-index: -1;
  padding-top: 150px;
}

.contact .form-box {
  padding-bottom: 300px;
}
.contact img {
  width: 92%;
  animation: updown 3s linear infinite;
}
.contact h2 {
	font-size: 75px;
	font-weight: 700;
  margin-bottom: 30px;

  
}

.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: rgb(255, 255, 255, .9);
  
  padding: 14px 48px;
  font-size: 25px;
  margin-top: 25px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s ease-in-out;  
  border-color: black;
  border: .1rem solid;
  box-shadow: 5px 5px 5px black;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
.footer {
  padding: 0px 0 0px 0;
  z-index: 1;
  margin-top: -250px;
}
.footer .logo img {
  padding: 0px 350px 10px 0;;
}
.footer img {
  width: 100%;
  
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
